apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app
  namespace: mini-project
spec:
  replicas: 2
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      containers:
        - name: todo-app
          image: khaoulabenameur/todo-app:v1
          ports:
            - containerPort: 3000
